@import 'variables.css';
@import 'animations.css';
@import 'components.css';
@import 'pages.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: OCRAEXT;
  src: url('/OCRAEXT.TTF');
}

@layer base {
  html,
  body {
    @apply overscroll-none;
  }

  html * {
    font-family: OCRAEXT, monospace !important;
  }

  .text-crimson {
    color: var(--txt-crimson);
  }
  .text-crimson-lighter {
    color: var(--txt-crimson-lighter);
  }
  .text-crimson-faded {
    color: var(--txt-crimson-faded);
  }
  .text-crimson-light {
    color: var(--txt-crimson-light);
  }

  .full {
    @apply h-full w-full;
  }

  #app {
    @apply full;
  }

  nav a {
    @apply transform text-lg underline transition-all duration-150 ease-in-out hover:scale-110 hover:no-underline focus:no-underline active:no-underline sm:text-2xl;
  }
}
