@import 'animations.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: OCRAEXT;
  src: url('/OCRAEXT.TTF');
}

:root {
  --txt-black: #0c0c1f;
  --txt-gray-1: #333333;
  --txt-gray-2: #444444;
  --txt-crimson: #bd0e33;
  --txt-crimson-lighter: #f13243;
  --txt-crimson-faded: #bd0e3344;
  --txt-crimson-light: #f15274;
  --dark-1: #101010;
  --dark-2: #1a1a1a;
  --dark-3: #212121;
}

@layer base {
  html,
  body {
    @apply overscroll-none;
  }

  .text-crimson {
    color: var(--txt-crimson);
  }

  .text-crimson-lighter {
    color: var(--txt-crimson-lighter);
  }

  .text-crimson-faded {
    color: var(--txt-crimson-faded);
  }

  .text-crimson-light {
    color: var(--txt-crimson-light);
  }

  .pulsate-scale {
    animation: pulsateScale 1.5s ease-in-out infinite alternate;
  }

  .pulsate-background {
    animation: pulsateBackground 2s ease-in-out infinite alternate;
  }

  .fade-in {
    animation: fadeIn 0.75s 1.25s ease-in-out both;
  }

  .faster-fade-in {
    animation: fadeIn 0.5s ease-in-out both;
  }

  .slower-fade-in {
    animation: fadeIn 0.5s 2s ease-in-out both;
  }

  .grow-in {
    animation: growIn 0.75s 0.5s ease-in-out both;
  }

  #app {
    @apply full;
  }

  .divider-h {
    @apply my-2 h-0.5 w-full;
  }

  .full {
    @apply h-full w-full;
  }

  html * {
    font-family: OCRAEXT !important;
  }

  nav {
    a {
      @apply transform text-lg underline transition-all duration-150 ease-in-out hover:scale-110 hover:no-underline focus:no-underline active:no-underline sm:text-2xl;
    }
  }
}
