@import 'app.css';
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@500&display=swap');

.handjet {
  font-family: 'Handjet', serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    'ELGR' 1,
    'ELSH' 2;
}

@tailwind base;

@layer base {
  .page-content {
    @apply grow-in flex w-full flex-col items-center justify-center gap-4 px-4 pb-24 pt-12;
  }

  #home {
    color: var(--txt-black);

    .divider-h {
      background-image: linear-gradient(90deg, #00000000, var(--txt-black), #00000000);
    }
  }

  .bg-home {
    @apply pulsate-background m-0 min-h-screen p-0 antialiased;
    background: radial-gradient(
        circle,
        rgba(241, 50, 67, 1) 15%,
        rgba(225, 12, 51, 1) 40%,
        rgba(189, 14, 51, 1) 60%,
        rgba(151, 20, 64, 1) 80%,
        rgba(74, 13, 55, 1) 100%
      )
      center;
  }

  #projects,
  #hobbies,
  #contact {
    color: var(--txt-crimson);

    p {
      color: var(--txt-crimson-light);
    }

    .divider-h {
      background-image: linear-gradient(90deg, #00000000, var(--txt-crimson), #00000000);
    }

    .divider-h-dark {
      @apply divider-h;
      background-image: linear-gradient(90deg, #00000000, var(--dark-2), #00000000);
    }

    .divider-v {
      background-image: linear-gradient(90deg, #00000000, var(--txt-crimson), #00000000);
      width: 0.5rem;
    }
  }

  .contact-links {
    @apply slower-fade-in flex w-full max-w-[960px] flex-col gap-4 rounded-xl p-8;
    @apply border-4 border-[var(--dark-2)] shadow-lg;
  }

  .contact-link {
    @apply flex flex-col gap-4;

    .contact-main {
      @apply flex items-center gap-4;
    }

    .contact-action {
      color: var(--txt-crimson-light);
      @apply flex w-fit transform cursor-pointer items-center gap-2 pl-14 transition-all duration-200 ease-in-out;

      &:hover {
        @apply origin-center scale-110;
        color: var(--txt-crimson-lighter);
      }
    }
  }

  .project-img-preview,
  .hobby-img-preview,
  .bottlecap-img-preview {
    @apply full object-contain text-center transition-all duration-300 ease-in-out;

    image-rendering: pixelated;
  }

  .project-cards {
    @apply grid grid-cols-1 gap-4 transition-all duration-300 ease-in-out md:grid-cols-2 lg:grid-cols-3;
  }

  .sort-button {
    @apply cursor-pointer rounded-lg px-4 py-2 text-sm font-semibold uppercase shadow-lg transition-all duration-300 ease-in-out;
    border: 2px solid var(--txt-crimson);
    color: var(--txt-crimson);

    &:hover {
      @apply scale-105;

      background: var(--txt-crimson-faded);
      color: var(--txt-crimson-lighter);
    }
  }

  .sort-button.active {
    background: var(--txt-crimson-faded);
    color: var(--txt-crimson-lighter);
  }

  .search-input {
    @apply w-[300px] rounded-lg px-4 py-2 text-sm font-semibold uppercase shadow-lg outline-none transition-all duration-300 ease-in-out;
    background-color: var(--dark-2);
    border: 2px solid var(--txt-crimson);
    color: var(--txt-crimson);

    &:focus {
      @apply scale-105 ring-2 ring-[var(--txt-crimson)] ring-opacity-50;
      background-color: var(--dark-3);
    }
  }

  .bottlecaps {
    @apply grid grid-cols-2 gap-4 transition-all duration-300 ease-in-out sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-7;
  }

  .bottlecap {
    @apply cursor-pointer py-4 transition-all duration-300 ease-in-out hover:scale-105;

    color: var(--txt-crimson-lighter);

    .title {
      @apply text-center text-3xl;

      font-family: Handjet !important;
    }

    .country {
      @apply text-center;
    }

    img {
      @apply transition-all duration-300 ease-in-out;
      border: 0 solid var(--txt-crimson);
      border-radius: 100%;
    }

    &:hover img {
      @apply animation-rotate;

      border: 6px solid var(--txt-crimson);
    }
  }

  .project-card {
    @apply cursor-pointer transition-all duration-300 ease-in-out;
    /*outline: 4px solid var(--txt-crimson);*/

    color: var(--txt-crimson-lighter);

    &:hover {
      @apply scale-105;

      img {
        @apply scale-110;
      }
    }

    .title {
      @apply text-center text-lg font-bold md:text-2xl;
    }

    .summary {
      @apply text-sm md:text-lg;
    }

    .tech-stack {
      @apply text-xs md:text-sm;
    }

    .links {
      @apply text-sm;
    }
  }

  .button {
    color: var(--txt-crimson);

    @apply rounded-lg bg-[var(--txt-gray-1)] px-4 py-2 font-semibold uppercase shadow-lg transition-all duration-150 ease-in-out hover:bg-[var(--txt-crimson-faded)];
  }

  .technologies-button {
    @apply flex flex-wrap items-center justify-center gap-2;
    color: whitesmoke;
  }

  .project-overview {
    @apply flex flex-col gap-3 p-4;

    color: var(--txt-crimson-lighter);

    h2 {
      @apply my-4 text-2xl font-bold;
    }

    p {
      @apply text-sm md:text-lg;
    }

    a {
      @apply cursor-pointer text-sm font-semibold underline transition-colors duration-200 ease-in-out md:text-lg;
      color: var(--txt-crimson);

      &:hover {
        color: var(--txt-crimson-lighter);
      }
    }

    pre {
      @apply overflow-x-auto whitespace-pre-wrap break-words rounded-lg p-4 font-mono text-sm shadow-lg;

      color: #cbccc6;
      background-color: #303030;

      .hljs-keyword {
        color: #0098db;
      }

      .hljs-string {
        color: #ff0546;
      }

      .hljs-number {
        color: #05ff69;
      }

      .hljs-built_in {
        color: #0ce6f2;
      }
    }

    ul {
      @apply list-disc;
    }

    ol {
      @apply list-decimal;
    }

    ul,
    ol {
      @apply my-4 list-inside pl-4;
    }

    li {
      @apply my-2;
    }

    img {
      @apply my-4 rounded-lg shadow-lg transition-all duration-300 ease-in-out hover:scale-105;
    }
  }

  .project-container {
    @apply flex flex-col gap-4 p-4;

    > h2 {
      @apply fade-in text-4xl font-[960];
    }

    > p {
      @apply px-4;
    }

    > .project-cards > .project-card {
      @apply rounded-lg p-4 shadow-lg;
      background: var(--dark-2);

      &:hover {
        background: var(--dark-3);
      }
    }
  }

  .technology {
    @apply rounded-full bg-[var(--txt-gray-1)] px-2 py-1 text-xs font-semibold tracking-wide text-white;
  }

  .bg-projects,
  .bg-hobbies,
  .bg-contact {
    @apply m-0 min-h-screen p-0 antialiased;
    background: var(--dark-1);
  }

  .project-dialog {
    @apply z-[2] m-auto h-fit w-[960px] p-0 outline-none;
    background: none;
  }

  .project-dialog-content {
    @apply flex transform flex-col items-center justify-center gap-6 rounded-lg bg-black bg-opacity-75 p-6 shadow-lg;
    border: 1px solid var(--txt-crimson);

    .description {
      @apply break-words p-4;
    }

    .close-button {
      @apply absolute right-0 top-0 pr-4 pt-4;
      color: var(--txt-crimson);
    }

    .project-img-preview {
      @apply hover:scale-125;
    }

    > h2 {
      @apply text-4xl;

      color: var(--txt-crimson);
    }
  }

  .image-dialog {
    @apply z-[2] m-auto h-fit max-w-[960px] p-0 outline-none;
    background: none;
  }

  .image-dialog-content {
    @apply flex max-h-[80vh] max-w-[80vh] transform items-center justify-center rounded-lg bg-black bg-opacity-75 p-6 shadow-lg;
    border: 2px solid var(--txt-crimson);

    img {
      border-radius: 0.5rem;
    }
  }

  .hobby-links {
    @apply flex flex-wrap justify-center gap-16 px-12;
  }

  .hobby-link-anchor {
    @apply h-full w-full;
  }

  .hobby-link {
    @apply flex h-full max-w-[300px] flex-col items-center gap-2 rounded-lg p-4 shadow-lg transition-all duration-300 ease-in-out;

    outline: 4px solid var(--txt-crimson);

    h2.title {
      @apply text-wrap text-center text-2xl font-bold;
    }

    p.summary {
      @apply slower-fade-in text-center text-sm;
    }

    &:hover {
      @apply scale-105;

      img {
        @apply scale-110;
      }
    }
  }

  .image-loading-box {
    @apply inset-0 flex items-center justify-center p-6;
    color: var(--txt-crimson);
  }

  .maplibre-visited {
    @apply mt-6 aspect-[4/5] h-auto w-[80%] min-w-[60vw] rounded-lg shadow-lg;
    @apply md:aspect-[16/9];

    outline: 4px solid var(--txt-crimson);
  }
}
