@import 'app.css';

@tailwind base;

@layer base {
  .page-content {
    @apply grow-in flex flex-col items-center justify-center gap-4 pb-24 pt-12;
  }

  #home {
    color: var(--txt-black);

    .divider-h {
      background-image: linear-gradient(90deg, #00000000, var(--txt-black), #00000000);
    }
  }

  .bg-home {
    @apply pulsate-background m-0 min-h-screen p-0 antialiased;
    background: radial-gradient(
        circle,
        rgba(241, 50, 67, 1) 15%,
        rgba(225, 12, 51, 1) 40%,
        rgba(189, 14, 51, 1) 60%,
        rgba(151, 20, 64, 1) 80%,
        rgba(74, 13, 55, 1) 100%
      )
      center;
  }

  #projects,
  #contact {
    color: var(--txt-crimson);

    p {
      color: var(--txt-light-red);
    }

    .divider-h {
      background-image: linear-gradient(90deg, #00000000, var(--txt-crimson), #00000000);
    }

    .divider-h-dark {
      @apply divider-h;
      background-image: linear-gradient(90deg, #00000000, var(--dark-2), #00000000);
    }

    .divider-v {
      background-image: linear-gradient(90deg, #00000000, var(--txt-crimson), #00000000);
      width: 0.5rem;
    }
  }

  .contact-links {
    @apply slower-fade-in mt-24 flex w-full max-w-[960px] flex-col gap-4 rounded-xl p-8;
    @apply border-4 border-[var(--dark-2)] shadow-lg;
  }

  .contact-link {
    @apply flex flex-col gap-4;

    .contact-main {
      @apply flex items-center gap-4;
    }

    .contact-action {
      color: var(--txt-light-red);
      @apply flex w-fit transform cursor-pointer items-center gap-2 pl-14 transition-all duration-200 ease-in-out;

      &:hover {
        @apply origin-center scale-110;
        color: var(--txt-crimson-lighter);
      }
    }
  }

  .project-img-preview,
  .bottlecap-img-preview {
    @apply full object-contain transition-all duration-300 ease-in-out;

    image-rendering: pixelated;
  }

  .project-cards {
    @apply grid grid-cols-1 gap-4 transition-all duration-300 ease-in-out md:grid-cols-2 lg:grid-cols-3;
  }

  .bottlecaps {
    @apply grid grid-cols-1 gap-4 transition-all duration-300 ease-in-out md:grid-cols-4 lg:grid-cols-5;
  }

  .bottlecap {
    @apply transition-all duration-300 ease-in-out hover:scale-105;

    color: var(--txt-crimson-lighter);

    .title {
      @apply text-center text-lg font-bold md:text-2xl;
    }

    .country {
      @apply text-center;
    }
  }

  .project-card {
    @apply cursor-pointer transition-all duration-300 ease-in-out hover:scale-105;
    /*outline: 4px solid var(--txt-crimson);*/

    color: var(--txt-crimson-lighter);

    .title {
      @apply text-center text-lg font-bold md:text-2xl;
    }

    .summary {
      @apply text-sm md:text-lg;
    }

    .tech-stack {
      @apply text-xs md:text-sm;
    }

    .links {
      @apply text-sm;
    }
  }

  .button {
    color: var(--txt-crimson);

    @apply rounded-lg bg-[var(--txt-gray-1)] px-4 py-2 font-semibold uppercase shadow-lg transition-all duration-150 ease-in-out hover:bg-[var(--txt-crimson-faded)];
  }

  .technologies-button {
    @apply flex flex-wrap items-center justify-center gap-2;
    color: whitesmoke;
  }

  .project-overview {
    @apply flex flex-col gap-3 p-4;

    color: var(--txt-crimson-lighter);

    h2 {
      @apply my-4 text-2xl font-bold;
    }

    p {
      @apply text-sm md:text-lg;
    }

    a {
      @apply cursor-pointer text-sm font-semibold underline transition-colors duration-200 ease-in-out md:text-lg;
      color: var(--txt-crimson);

      &:hover {
        color: var(--txt-crimson-lighter);
      }
    }

    pre {
      @apply overflow-x-auto whitespace-pre-wrap break-words rounded-lg p-4 font-mono text-sm shadow-lg;

      color: #cbccc6;
      background-color: #303030;

      .hljs-keyword {
        color: #0098db;
      }

      .hljs-string {
        color: #ff0546;
      }

      .hljs-number {
        color: #05ff69;
      }

      .hljs-built_in {
        color: #0ce6f2;
      }
    }

    ul {
      @apply list-disc;
    }

    ol {
      @apply list-decimal;
    }

    ul,
    ol {
      @apply my-4 list-inside pl-4;
    }

    li {
      @apply my-2;
    }

    img {
      @apply my-4 rounded-lg shadow-lg transition-all duration-300 ease-in-out hover:scale-105;
    }
  }

  .project-container {
    @apply flex flex-col gap-4 p-4;

    > h2 {
      @apply fade-in text-4xl font-[960];
    }

    > p {
      @apply px-4;
    }

    > .project-cards > .project-card {
      @apply rounded-lg p-4 shadow-lg;
      background: var(--dark-2);

      &:hover {
        background: var(--dark-3);
      }
    }
  }

  .technology {
    @apply rounded-full bg-[var(--txt-gray-1)] px-2 py-1 text-xs font-semibold tracking-wide text-white;
  }

  .bg-projects,
  .bg-contact {
    @apply m-0 min-h-screen p-0 antialiased;
    background: var(--dark-1);
  }

  .project-dialog {
    @apply flex transform flex-col items-center justify-center gap-6 rounded-lg bg-black bg-opacity-75 p-6 shadow-lg;
    border: 1px solid var(--txt-crimson);

    .description {
      @apply break-words p-4;
    }

    .close-button {
      @apply absolute right-0 top-0 pr-4 pt-4;
      color: var(--txt-crimson);
    }

    .project-img-preview {
      @apply hover:scale-125;
    }

    > h2 {
      @apply text-4xl;

      color: var(--txt-crimson);
    }
  }

  dialog {
    background: none;

    @apply m-auto h-fit w-[960px] p-0;
  }
}
