:root {
  --dark-3: #212121;
  --dark-2: #1a1a1a;
  --dark-1: #101010;
  --txt-crimson-light: #f15274;
  --txt-crimson-faded: #bd0e3344;
  --txt-crimson-lighter: #f13243;
  --txt-crimson: #bd0e33;
  --txt-gray-2: #444444;
  --txt-gray-1: #333333;
  --txt-black: #0c0c1f;
}
